* {
	padding: 0;
	margin: 0;
}
/* @import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital@1&display=swap'); */

@font-face {
	font-family: 'Nico Moji';
	src: url('NicoMoji-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
	background-color: grey;
	font-family: 'Nico Moji';
}

#title {
	color: white;
	font-family: 'Nico Moji';
}

.paddle {
    width: 20px;
    height: 100px;
    background-color: black;
    position: absolute;
	z-index: 99;
}

.horizontalWall {
	width: 800px;
	height: 20px;
	background-color: black;
	position: absolute;
}

.verticalWall {
	width: 20px;
	height: 600px;
	border-left: 20px dashed black;
	position: absolute;
}

.ball {
	height: 20px;
	width: 20px;
	background-color: black;
	border-radius: 100%;
	position: absolute;
	z-index: 100;
  }

.score {
	font-size: 100px;
	position: absolute;
}

.info {
	font-size: 20px;
	position: absolute;
}

.countDown {
	font-size: 80px;
	color: white;
	position: absolute;
	background-color: gray;
	z-index: 999;
}

#loadingScreen {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 1); /* Semi-transparent background */
	z-index: 1000;
	text-align: center;
}

#loadingScreen p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 10px;
	z-index: 1000;
	border-radius: 5px;
}

button {
	font-family: 'Nico Moji';
}

#find-match #login-guest #login-intra {
    background-color: black;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

section {
	display: none;
}

section:target {
	display: block;
}

@media only screen and (max-width: 480px) {


	body {
		background-color: black;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh; /* Ensure the body takes up the full viewport height */
		margin: 0;
	}

	#title {
		font-size: 10vw;
		margin-bottom: 6.6vh;
	}

	button {
		width: 74vw;
		margin-bottom: 6.6vh;
		height: 8vh;
	}
	.container {
		text-align: center;
	}
}
