body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
	background-color: grey;
	font-family: 'Press Start 2P', cursive;
}

.paddle {
    width: 20px;
    height: 100px;
    background-color: black;
    position: absolute;
	z-index: 99;
}

.horizontalWall {
	width: 800px;
	height: 20px;
	background-color: black;
	position: absolute;
}

.verticalWall {
	width: 20px;
	border-left: 20px dashed black;
	height: 600px;
	position: absolute;
}

.ball {
	height: 20px;
	width: 20px;
	background-color: black;
	border-radius: 100%;
	position: absolute;
	z-index: 100;
  }

.score {
    font-family: 'Press Start 2P', cursive;
	font-size: 100px;
	position: absolute;
}

.info {
    font-family: 'Press Start 2P', cursive;
	font-size: 20px;
	position: absolute;
}

.countDown {
	font-family: 'Press Start 2P', cursive;
	font-size: 100px;
	color: white;
	position: absolute;
	background-color: gray;
	z-index: 999;
}

#loadingScreen {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 1); /* Semi-transparent background */
	z-index: 1000;
	text-align: center;
}

#loadingScreen p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 10px;
	z-index: 1000;
	border-radius: 5px;
}

button {
    font-family: 'Press Start 2P', cursive;
}

#find-match {
    background-color: black;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}