{% load static %}

<div id="loadingScreen">
	<p id="wait-other-players" class="translation">Waiting for other players...</p>
</div>

<div id="paddleA"				class="paddle"			></div>
<div id="paddleB"				class="paddle"			></div>
<div id="ball"					class="ball"			></div>
<div id="tail"											></div>
<div id="horizontalWallLeft"	class="horizontalWall"	></div>
<div id="horizontalWallRight"	class="horizontalWall"	></div>
<div id="horizontalWallMid"		class="horizontalWall"	style="background-color: rgba(200,200,200,0.2);"></div>
<div id="verticalWall"			class="verticalWall"	></div>
<div id="scoreA"				class="score"			>0</div>
<div id="scoreB"				class="score"			>0</div>
<div id="countDown"				class="countDown"		>5</div>
<div id="matchName"				class="matchName"		></div>
<div id="winner"				class="winner"			></div>

<audio id="paddle" src="{% static 'game/mp3/paddle.mp3' %}"></audio>
<audio id="wall" src="{% static 'game/mp3/wall.mp3' %}"></audio>
<audio id="score" src="{% static 'game/mp3/score.mp3' %}"></audio>
