{% load static %}

<div id="overlay">
	<div id="message">Waiting for other players...</div>
</div>

<div id="paddleA"				class="paddle"			></div>
<div id="paddleB"				class="paddle"			></div>
<div id="ball"					class="ball"			></div>
<div id="tail"											></div>
<div id="horizontalWallLeft"	class="horizontalWall"	></div>
<div id="horizontalWallRight"	class="horizontalWall"	></div>
<div id="horizontalWallMid"		class="horizontalWall"	></div>
<div id="verticalWall"			class="verticalWall"	></div>
<div id="scoreA"				class="score"			>0</div>
<div id="scoreB"				class="score"			>0</div>
<div id="countDown"				class="countDown"		>5</div>

<audio id="paddle" src="{% static 'game/paddle.mp3' %}"></audio>
<audio id="wall" src="{% static 'game/wall.mp3' %}"></audio>
<audio id="score" src="{% static 'game/score.mp3' %}"></audio>
