{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pong!</title>
	<link rel="icon" type="image/x-icon" href="{% static 'game/favicon.ico' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">
	<link rel="stylesheet" type="text/css" href="{% static 'game/style.css' %}">
	<script src="{% static 'game/app.js' %}" defer></script>
</head>
<body>
	<!-- Wait click on button start game to start game  -->
	<div id="menu">
		{% include './menu.html' %}
	</div>

	<div id="game" style="display: none;">
		{% include './game.html' %}
	</div>
</body>
</html>

<script>
	function setupSinglePageApplication() {
		document.getElementById("game").style.display = "none";

		findMatch = document.getElementById('find-match');
		findMatch.addEventListener('click', () => {
			document.getElementById("menu").style.display = "none";
			document.getElementById("game").style.display = "block";
			if (!gameSocket) {
				startGame();
			}
		});
	}
	document.addEventListener('DOMContentLoaded', setupSinglePageApplication);
</script>
