{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Play Pong online</title>
	<link rel="icon" type="image/x-icon" href="{% static 'game/favicon.ico' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">
	<link rel="stylesheet" type="text/css" href="{% static 'game/style.css' %}">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<meta name="description" content="play the old pong game with your friends online"> <!-- Review description -->
	<meta name="keywords" content="game, pong, transcendence, 42sp, 42 Sao Paulo">
	<meta name="robots" content="index, nofollow">
	<meta property="og:title" content="Play pong online">
	<meta property="og:description" content="play the old pong game with your friends online">
	<!-- <meta property="og:image" content="URL to an image for social media sharing"> -->
	<!-- <meta property="og:url" content="https://www.yourdomain.com/your-page-url"> -->
	<!-- <meta name="twitter:card" content="summary_large_image"> -->
	<!-- <meta name="twitter:site" content="@yourtwitterhandle"> -->
	<meta name="twitter:title" content="Play pong online">
	<meta name="twitter:description" content="play the old pong game with your friends online">
	<!-- <meta name="twitter:image" content="URL to an image for Twitter Cards"> -->
	<meta name="authors" content="The Boys">
	<script src="{% static 'game/app.js' %}" defer></script>
</head>
<body>
	
	<section id="login">	{% include './login.html' %}	</section>
	<section id="loading">	{% include './loading.html' %}	</section>
	<section id="login_otp">{% include './otp_login.html' %}</section>
	<section id="menu">		{% include './menu.html' %}		</section>
	<section id="game">		{% include './game.html' %}		</section>

</body>
</html>

<script>
	var userData;
	var randomUserData;

	const translations = {
		"login-guest": {
			"en": "Play as Guest",
			"pt": "Jogar como convidado",
			"fr": "Jouer en tant qu'invité",
		},
		"login-intra": {
			"en": "Play as 42",
			"pt": "Jogar como 42",
			"fr": "Jouer en tant que 42",
		},
		"find-match": {
			"en": "Find Match",
			"pt": "Encontrar partida",
			"fr": "Trouver une partie",
		},
		"2fa-button": {
			"en": "Toggle 2FA",
			"pt": "Alternar 2FA",
			"fr": "Basculer la 2FA",
		},
		"sendOTP": {
			"en": "Enter",
			"pt": "Entrar",
			"fr": "Entrer",
		},
		"send-login-OTP": {
			"en": "Enter",
			"pt": "Entrar",
			"fr": "Entrer",
		},
		"wait-other-players": {
			"en": "Waiting for other players...",
			"pt": "Aguardando outros jogadores...",
			"fr": "En attente d'autres joueurs...",
		},
		"game-over": {
			"en": "Game Over",
			"pt": "Fim de jogo",
			"fr": "Fin du jeu",
		},
		"loading": {
			"en": "Loading...",
			"pt": "Esperando...",
			"fr": "Chargement...",
		},
		"logout": {
			"en": "Logout",
			"pt": "Sair",
			"fr": "Se déconnecter",
		},
	};
	var selectedLanguage = localStorage.getItem("selectedLanguage") || "en";
	document.getElementById("languageSelectMenu").value = selectedLanguage;
	document.getElementById("languageSelectLogin").value = selectedLanguage;

	function getIntraCode() {
		let urlParams = new URLSearchParams(window.location.search);
		if (urlParams.has('code')) {
			return urlParams.get('code');
		}
		return "";
	}

	function getIntraAccessToken() {
		let intraAccessToken = localStorage.getItem("intra_access_token")
		if (intraAccessToken) {
			return intraAccessToken;
			// let expiresAt = localStorage.getItem("intra_access_token_expires_at")
			// console.l
			// if (expiresAt > Date.now()) {
			// 	console.log("intraAccessToken still valid")
			// 	return intraAccessToken;
			// } else {
			// 	console.log("intraAccessToken expired")
			// 	localStorage.removeItem("intra_access_token");
			// 	localStorage.removeItem("intra_access_token_expires_at");
			// }
		} else {
			return "";
		}
	}

	function getAccessToken() {
		let accessToken = localStorage.getItem("access_token")
		if (accessToken) {
			return accessToken;
		} else {
			return "";
		}
	}

	API_URL = "http://127.0.0.1:8000"

	function getUserData(intraCode, intraAccessToken) {
		return new Promise((resolve, reject) => {
			fetch(API_URL + "/game/data" + "?code=" + intraCode + "&intra_access_token=" + intraAccessToken)
				.then(response => {
					if (!response.ok) {
						throw new Error('Network response was not ok');
					}
					return response.json();
				})
				.then(data => {
					if (data.intra_access_token) {
						localStorage.setItem("intra_access_token", data.intra_access_token)
						localStorage.setItem("intra_access_token_expires_at", data.intra_access_token_expires_at)
					}
					if (data.access_token) {
						localStorage.setItem("access_token". data.access_token)
						localStorage.setItem("access_token_expires_at". data.access_token_expires_at)
					}
					userData = data
					console.log('Data from Django:', data);
					resolve(data)
				})
				.catch(error => {
					console.error('There was a problem with the fetch operation:', error);
					resolve(error)
			});
		});
	};

	function mountMenu() {
		let img = "";
		let displayname = "";
		let login = "";
		if(randomUserData) {
			img = randomUserData.picture.large
			displayname = randomUserData.name.first + randomUserData.name.last
			login = randomUserData.login.username
		}
		if(userData) {
			img = userData.image.versions.medium
			displayname = userData.displayname
			login = userData.login
		}
		document.getElementById("image").src = img;
		document.getElementById("displayName").innerText = displayname;
		document.getElementById("loginName").innerText = login;
	}

	function getRandomUserData() {
		return new Promise((resolve, reject) => {
			fetch('https://randomuser.me/api/')
			.then(response => {
				if (!response.ok) {
				throw new Error('Network response was not ok');
				}
				return response.json();
			})
			.then(data => {
				randomUserData = data.results[0]
				//console.log(data.results[0]);
				resolve(data)
			})
			.catch(error => {
				console.error('There was a problem with the fetch operation:', error);
				resolve(error)
			});
		})
	}

	async function goToMenu(intraCode, intraAccessToken, accessToken) {
		window.location.hash = 'loading'
		try {
			if(intraCode || intraAccessToken)
				await getUserData(intraCode, intraAccessToken);
			else
				await getRandomUserData();
			if (!accessToken) {
				console.log("There's no access_token")
				window.location.hash = 'login_otp'
			}
			else {
				mountMenu();
				window.location.hash = 'menu'
			}
		} catch (error) {
			console.error('Error getting user data:', error);
			window.location.hash = 'login'
		}
	}

	async function verifyOTP(otp, accessToken) {
		return new Promise((resolve, reject) => {
				fetch(API_URL + '/game/verifyOTP?&otp=' + otp, {headers: {'Authorization': 'Bearer ' + accessToken}})
					.then(response => {
						console.log("QR code received")
						return response.status;
					})
					.then(data => {
						resolve(data)
					})
					.catch(error => {
						console.error('There was a problem with the fetch operation:', error);
						resolve(error);
					});
			})
	}

	async function verifyLoginOTP(otp) {
		return new Promise((resolve, reject) => {
				fetch(API_URL + '/game/verifyLoginOTP?&otp=' + otp + '&userId=' + userData.user_id)
					.then(response => {
						return response.json();
					})
					.then(data => {
						if (data.access_token) {
							localStorage.setItem("access_token", data.access_token)
							localStorage.setItem("access_token_expires_at", data.access_token_expires_at)
							mountMenu();
							window.location.hash = 'menu'
						}
						resolve(data.access_token)
					})
					.catch(error => {
						console.error('There was a problem with the fetch operation:', error);
						resolve(error);
					});
			})
	}

	async function sendOTP(accessToken) {
		otpText = document.getElementById('2fa-activation-input');
		qrcodeImage = document.getElementById('2fa-button-qrcode');
		inputActivationOTP = document.getElementById('input-activation-OTP')
		a = await verifyOTP(otpText.value, accessToken)
		console.log(a)
		if(a === 200) {
			otpText.value = ""
			qrcodeImage.style.display = "none"
			inputActivationOTP.style.display = "none"
		}
	}

	async function getQRCode(accessToken) {
		qrcodeImage = document.getElementById('2fa-button-qrcode');
		qrcode = await new Promise((resolve, reject) => {
				fetch(API_URL + '/game/qrcode', {headers: {'Authorization': 'Bearer ' + accessToken}})
					.then(response => {
						console.log("QR code received")
						return response.blob();
					})
					.then(blob => {
						resolve(blob)
					})
					.catch(error => {
						console.error('There was a problem with the fetch operation:', error);
						resolve(error);
					});
			})

		qrcodeImage.src = URL.createObjectURL(qrcode);
		qrcodeImage.style.display = "block";
	}

	function removeQueryParam(key) {
    	// Get the current URL
		var url = new URL(window.location.href);
		// Get the URLSearchParams object from the URL
		var params = new URLSearchParams(url.search);
		// Remove the specified query parameter
		params.delete(key);
		// Update the URL with the modified query parameters
		url.search = params.toString();
		// Replace the current entry in the browser's history with the updated URL
		window.history.replaceState({}, document.title, url.href);
	}

	async function runGame() {
		window.location.hash = 'game'
		if (!gameSocket) {
			await startGame(userData);
		}
		window.location.hash = 'menu'
	}

	function setupSinglePageApplication() {
		let intraCode = getIntraCode();
		let intraAccessToken = getIntraAccessToken();
		let accessToken = getAccessToken();
		console.log("intraCode: " + intraCode)
		console.log("intraAccessToken: " + intraAccessToken)

		window.location.hash = 'login'
		removeQueryParam('code')

		if (intraCode || intraAccessToken) {
			console.log("intraCode or intraAccessToken defined, going to menu")
			goToMenu(intraCode, intraAccessToken, accessToken);
		}

		findMatch = document.getElementById('find-match');
		findMatch.addEventListener('click', () => {
			runGame();
		});

		button2fa = document.getElementById('2fa-button');
		button2fa.addEventListener('click', () => {
			getQRCode(accessToken)
		});

		sendOTPHandler = document.getElementById('sendOTP');
		sendOTPHandler.addEventListener('click', () => {
			sendOTP(accessToken);
		});

		loginGuest = document.getElementById('login-guest');
		loginGuest.addEventListener('click', () => {
			goToMenu();
		});

		loginOTP = document.getElementById('send-login-OTP');
		otpText = document.getElementById('2fa-login-input');
		loginOTP.addEventListener('click', () => {
			verifyLoginOTP(otpText.value);
		});

		loginIntra = document.getElementById('login-intra');
		loginIntra.addEventListener('click', () => {
			let intraAccessToken = getIntraAccessToken();
			if (intraAccessToken) {
				console.log("Already logged in");
				window.location.reload();
			} else {
				console.log("Not logged in. Redirecting...");
				INTRA_API_URL_AUTH = "https://api.intra.42.fr/oauth/authorize"
				INTRA_CLIENT_ID = "u-s4t2ud-d7f64afc7fb7dc2840609df8b5328f172dd434549cf932c6606762ecb4016c2d"
				INTRA_REDIRECT_URI = "http://127.0.0.1:8000/game"
				INTRA_RESPONSE_TYPE = "code"
				window.location.href = INTRA_API_URL_AUTH + "?client_id=" + INTRA_CLIENT_ID + "&redirect_uri=" + INTRA_REDIRECT_URI + "&response_type=" + INTRA_RESPONSE_TYPE;
			}
		});

		languageSelectLogin = document.getElementById('languageSelectLogin');
		languageSelectLogin.addEventListener('change', () => {
			selectedLanguage = languageSelectLogin.value;
			if (["en", "pt", "fr"].includes(selectedLanguage)) {
				localStorage.setItem("selectedLanguage", selectedLanguage);
				updateLanguage();
			}
		})

		languageSelectMenu = document.getElementById('languageSelectMenu');
		languageSelectMenu.addEventListener('change', () => {
			selectedLanguage = languageSelectMenu.value;
			if (["en", "pt", "fr"].includes(selectedLanguage)) {
				localStorage.setItem("selectedLanguage", selectedLanguage);
				updateLanguage();
				sendLanguage(accessToken);
			}
		})

		updateLanguage();

		logoutButton = document.getElementById('logout');
		logoutButton.addEventListener('click', () => {
			localStorage.removeItem("intra_access_token");
			localStorage.removeItem("intra_access_token_expires_at");
			localStorage.removeItem("access_token");
			localStorage.removeItem("access_token_expires_at");
			window.location.reload();
		});
	}

	function updateLanguage() {
		var elementsToUpdate = document.querySelectorAll('.translation');
		elementsToUpdate.forEach(function(element) {
			element.innerHTML = translations[element.id][selectedLanguage];
		});
	}

	async function sendLanguage(access_token) {
		return await new Promise((resolve, reject) => {
				fetch(API_URL + '/game/updateLanguage' + '?lang=' + selectedLanguage, {method: 'PATCH', headers: {'Authorization': 'Bearer ' + access_token}})
					.then(response => {
						return response.json();
					})
	 				.then(data => {
	 					resolve(data)
	 				})
	 				.catch(error => {
	 					console.error('There was a problem with the fetch operation:', error);
	 					resolve(error);
	 				});
	 		})
	}

	document.addEventListener('DOMContentLoaded', setupSinglePageApplication);
</script>
