{% load static %}
<p id="displayName">Welcome Guest</p>
<p id="loginName">Guest</p>
<img id="image" src="{% static 'game/favicon.ico' %}" alt="placeholder" height="300px" width="300px">
<button id="find-match">Find match</button>
<button id="2fa-button">Toggle 2FA</button>
<img id="2fa-button-qrcode" height="300" width="300" style="display: none;"></img>
<div id="input-activation-OTP">
	<input id="2fa-activation-input" type="text" placeholder="2FA code"></input>
	<button id="sendOTP">Enter</input>
</div>
