{% load static %}
<!-- Profile -->
<div id="profile">
	<img id="image" src="{% static 'game/favicon.ico' %}" alt="Profile picture" height="150px" width="150px">
	<p id="loginName"></p>
</div>

<hr>

<!-- Match -->
<div id="match">
	<button id="find-match" class="translation">Find match</button>
	<select id="matchTypeElement">
		<option value="simpleMatch" selected>Simple Match</option>
		<option value="tournamentMatch">Tournament Match</option>
	</select>
	<div id="selectTournamentName" style="display: none;">
		<input id="matchSuggestedName" type="text" placeholder="Choose a tournament name"></input>
	</div>
</div>

<hr id="subHr">

<!-- Settings -->
<div id="settings">
	<button id="settingsButton" class="translation">Settings</button>
	<!-- Language -->
	<div id="language" style="display: none;">
		<select id="languageSelectMenu">
			<option value="">Select language</option>
			<option value="en">🇬🇧 English</option>
			<option value="pt">🇧🇷 Portuguese</option>
			<option value="fr">🇫🇷 French</option>
		</select>
	</div>
	<!-- 2FA -->
	<div id="2FA" style="display: none;">
		<button id="2FAButtonToggle" class="translation">Toggle 2FA</button>
		<div id="2FAImageInputAndButton" style="display: none;">
			<img id="2FAImageQRCode" height="300" width="300"></img>
			<input id="2FAInputOTP" type="text" placeholder="2FA code"></input>
			<button id="2FAButtonSendOTP" class="translation">Send OTP</input>
		</div>
	</div>
</div>

<hr id="subHr">

<!-- Logout -->
<div id="logout">
	<button id="logoutButton" class="translation">Logout</button>
</div>